@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #003366;
    background-image: linear-gradient(315deg, #003366 0%, #242124 74%);
    margin: 0 !important;

}
.modal-backdrop {
    margin: 0 !important;
}
.indi-exercise h3 {
    margin-bottom: 15px;
}
.indi-exercise form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.indi-exercise input {
    width: 100%;
    max-width: calc(50% - 68px);
    border-radius: 0.25rem;
}
.indi-exercise button[type=submit] {
    min-width: 114px;
    padding-left: 1rem;
    padding-right: 1rem;
}
button.completion {
    display: block;
    margin-right: 0;
    margin-left: auto;
}
/* index.css or global stylesheet */
.calendar-wrapper .react-calendar {
  background-color: #111827; /* Dark background */
  color: #f9fafb; /* Light text */
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

.calendar-wrapper .react-calendar__navigation button:disabled {
    background-color: transparent;
}

.calendar-wrapper .react-calendar__tile {
    position: relative;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    display: flex;
    flex-direction: column;
}
.calendar-wrapper .react-calendar__tile .indicator {
    position: absolute;
    bottom: 2px;
    opacity: .6;
    width: 6px;
    height: 6px;
}
.calendar-wrapper .react-calendar__tile:enabled:hover, 
.calendar-wrapper .react-calendar__tile:enabled:focus {
    background-color: #4ade80;
}
.calendar-wrapper .react-calendar__tile--active,
.calendar-wrapper .react-calendar__tile--active:enabled:hover, 
.calendar-wrapper .react-calendar__tile--active:enabled:focus {
    background-color: #f97316 !important;
    color: #fff;
}

.calendar-wrapper .react-calendar__tile--active .indicator {
    background-color: #fff !important;
    opacity: 1 !important;
}

.calendar-wrapper button.react-calendar__tile--now {
    background-color: #4ade80 !important;
}

/* Weekends */
.calendar-wrapper .react-calendar__month-view__days__day--weekend {
    color: #efefef;
}
.calendar-wrapper .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

label.target-label {
    margin-top: 18px !important;
}
.draggable {
  top: auto !important;
  left: auto !important;
}

.exercises-wrapper .last-logged strong,
.exercises-wrapper .last-logged span {
    display: block;
}

/* CSS to Make DayView Exercises Scrollable */
.exercises-wrapper.active {
    position: relative;
    height: calc(70vh - 3rem); 
    overflow-y: auto;   
}
.exercises-wrapper.active .scroll-window {
    padding-right: 1rem;      
}

/* Hide Certain Elements on Completed Exercises */
.completed-exercise p.target-sets,
.completed-exercise .last-logged,
.completed-exercise .chart-holder,
.completed-exercise ul.sets-done {
    display: none;
}
.exercises-wrapper.showsetsYes .completed-exercise p.target-sets,
.exercises-wrapper.showsetsYes .completed-exercise .last-logged,
.exercises-wrapper.showsetsYes .completed-exercise .chart-holder,
.exercises-wrapper.showsetsYes .completed-exercise ul.sets-done {
    display: block;
}